/* Global spacing reset */
* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 0.8em;
}


@media (min-width: 600px) {
	body {
		font-size: 0.9em;
	}
}

@media (min-width: 800px) {
	body {
		font-size: 1em;
	}
}

body {
	color: #192e45;
}


html {
	color: #192e45;
	/* Sticky footer styles */
	position: relative;
	min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 5rem;
}

/*
.footer {
  position: absolute;
  bottom: 0;
  width: 100%; */
  /* Set the fixed height of the footer here */
  /* height: 60px;
  line-height: 60px; /* Vertically center the text there */
  /*background-color: #f5f5f5;
} */

/* Accent color for main page background */
.bg-accent {
	/* background-color: #19b57c; */
	background-color: #53e0ad;
}

.bg-accent-light {
	background-color: #53e0ad;
}

.text-accent-light {
	color: #53e0ad;
}

.page-content {
	padding: 6rem 1em 1em;
}

/* Weather card styles */
/* Outer weather card container */
.weather-card {
	padding: 0;
	margin: 1rem 0 1rem;
}

/* Inner weather card colored header */
.weather-card-header {
	min-height: 1rem;
	padding-left: 1rem;
	margin: 0;
}

/* Inner weather card content */
.weather-card-content {
	font-size: 1rem;
	padding: 0 1rem 1rem;
	margin: 0;
}

.text-info {
	font-size: inherit;
	font-weight: bold;
}

.text-data {
	font-size: inherit;
	font-family: monospace;
	line-height: 0.8em;
}

.shadow {
	-webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 960px)
{
	.col
	{
		flex-basis: 90% !important;
	}
}